body{
    padding: 0;
    margin: 0;
}

.page{
    padding: 2em 4em;
    text-align: center;
    /*Colors and fonts*/
    background-color: #A6AEFC;
    /* background-color: #1e33f7; */
    color: #000;
    font-family: 'Share Tech', sans-serif;
    font-size: 1.1rem;
}

.question{
    display: block;
    padding: 1.5em 0;
    margin: 2em 0;
    /* border: 1px solid black; */
    background: linear-gradient(to right, transparent 20%, #0718CF, transparent 80%);
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
    letter-spacing: .1em;
    font-weight: 700;

}

.scraps-form-container{
    /* display: none; */
    text-align: center;
    margin: 2rem auto;
    border-radius: 20px;
    /* border: 1px solid black; */
    padding: 1rem;
    max-width: 50%;
    /* background-color: #3e4ff8; */
    background: linear-gradient(#3e4ff8, #3e4ff8) padding-box,
              radial-gradient(ellipse at center, #3e4ff8 70%, transparent) border-box;
    border: 15px solid transparent;
    color: white;
}

.scrap-input {
    padding: 1em 2em;
    border: none;
    border-radius: 20px;
    font-family: "Share Tech", sans-serif;
    font-size: 1rem;
}

.scrap-list-container{
    min-height: 15em;
    margin: 2rem;
    border-radius: 20px;
    background-color: #5665f9;
}

.scrap-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 1em 1em 0 1em;
}

.scrap-list li {
    padding: .5em 1em;
    margin-right: 1em;
    margin-bottom: 1rem;
    border-radius: 20px;
    background-color: #0718CF;
    color: white;
}

.pantry-container{
    margin: 2rem;
}

.checklist{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    /* align-items: start; */
    /* flex-wrap: wrap; */
    /* padding: 1em 1em 0 3em; */
    max-height: 10em;
}

.checklist label{
    /* margin: 0 1em 1em 0; */
    display: block;
    text-align: left;
    margin-bottom: 1em;
}

.form-button{
    padding: .75em 1.5em;
    border: 3px solid #0718CF;
    border-radius: 20px;
    background-color: white;
    color: #0718CF;
    text-transform: uppercase;
    font-family: "Share Tech", sans-serif;
    font-size: 1rem;
}

.form-button:hover, .form-button:focus{
    color: white;
    background-color: #0718CF;
}

.form-button:active{
    border-color: white;
}

.add-scrap-btn{
    margin-left: 1em;
}

.submit-form-btn{
    margin: 2em 0 2em;
}

.recipes-container{
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recipe {
    padding: 1em 1.5em;
    border-radius: 20px;
    max-width: 15em;
    max-height: 20em;
    margin: 1em 0 2em 0;
    background: linear-gradient(#0718CF, #0718CF) padding-box,
              linear-gradient(-45deg, transparent, #0718CF 50%, transparent) border-box;
    border: 5px solid transparent;
    color: white;
}

.recipe-title{
    text-transform: uppercase;
    font-size: 1.25rem;
}

.recipe-img{
    width: 100%;
    height: 10em;
    object-fit: cover;
    border-radius: 20px;
}

.recipe-description{
    width: 15em;
    font-size: 1rem;
}

.full-recipe-dialog{
    padding: 2em;
    width: 50%;
    height: 80%;
    max-width: 30em;
    text-align: left;
    border-radius: 20px;
}

.full-recipe-dialog::backdrop{
    background-color: rgba(7, 24, 207,.5);
}

.full-recipe-dialog > .form-button{
    position: absolute;
    top: 1em;
    right: 1em;
}

.full-recipe-img{
    max-width: 100%;
    border-radius: 20px;
}

.full-recipe-subtitle{
    font-size: 1.25rem;
}